.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Poloprůhledné pozadí */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-container {
    background-color: #fff; /* Bílé pozadí */
    padding: 20px;
    border-radius: 10px; /* Zaoblené rohy */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Stínování */
    text-align: center;
    width: 80%;
    max-width: 400px; /* Maximální šířka dialogového okna */
}

.options-container {
    margin-top: 20px;
}

.option {
    background-color: #7c4dff; /* Fialové pozadí možností */
    color: #ffffff; /* Bílý text */
    padding: 10px 20px;
    margin: 10px 0; /* Mezery mezi možnostmi */
    border-radius: 5px; /* Zaoblené rohy možností */
    cursor: pointer; /* Cursor jako ukazatel možnosti */
    transition: transform 0.3s ease; /* Animace pro kliknutí */
    font-size: 20px
}

.option:hover {
    transform: scale(1.05); /* Zvětšení možnosti při najetí myší */
}

.option.selected {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Stínování vybrané možnosti */
}
